bower_components
dist
node_modules
build
.idea
firebase-debug.log

# Uncomment the next line in production applications
#internal

# Notification test that includes server private data
notification.txt
