<link rel="import" href="../header.html">

<dom-module id="app-notifications">
  <template>
    <style include="app-styles">
      :host {
        display: block;
      }
    </style>

  </template>

  <script>
    Polymer({
      is: 'app-notifications',
      properties: {
        /**
         * Whether notification functionality is available on the platform.
         */
        available: {
          type: Boolean,
          notify: true,
          readOnly: true
        },
        /**
         * Whether notifications have been allowed by the user..
         */
        hasPermission: {
          type: Boolean,
          notify: true,
          readOnly: true
        },
      },

      ready: function() {
        if (window.Notification) {
          this._setAvailable(true);
          this._setPermission(Notification.permission);
        } else {
          this._setAvailable(false);
        }
      },

      requestPermission: function(onResult) {
        if (this.available) {
          Notification.requestPermission((function(result) {
            LOG && log.v('Notification permission result', result);
            this._setPermission(result);
            if (onResult) onResult();
          }.bind(this)));
        } else {
          LOG && log.w('Notifications are unavailable.');
        }
      },

      show: function(title, options, autoClose, onClose) {
        if (this.hasPermission) {
          this._showNotification(title, options, autoClose, onClose);
        } else {
          this.requestPermission(function() {
            if (this.hasPermission) {
              this._showNotification(title, options, autoClose, onClose);
            }
          }.bind(this));
        }
      },

      _showNotification: function(title, options, autoClose, onClose) {
        var n = new Notification(title, options);

        // Only show one notification per tag at a time.
        this._tagged = this._tagged || {};
        if (options && options.tag) {
          if (this._tagged[options.tag]) {
            this._tagged[options.tag].close();
            this._tagged[options.tag] = null;
          }
          this._tagged[options.tag] = n;
        }

        // TODO onclose is deprecated
        n.onclose = function() {
          if (options && options.tag && this._tagged[options.tag]) {
            this._tagged[options.tag] = null;
          }
          if (onClose) onClose();
        }.bind(this);


        if (autoClose) {
          setTimeout(n.close.bind(n), autoClose);
        }
      },

      _setPermission: function(permission) {
        if (permission === 'granted') {
          this._setHasPermission(true);
        } else if (permission === 'denied') {
          this._setHasPermission(false);
        }
      }
    });
  </script>
</dom-module>
