<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/src/header.html">

<dom-module id="basic-toast">
  <template>
    <style include="app-styles">
      :host {
        display: block;
      }
      paper-toast {
        @apply --font-default2;
      }
      .success-toast {
        --paper-toast-background-color: var(--success-bg-color);
        --paper-toast-color: var(--success-color);
        background-color: var(--success-bg-color);
        color: var(--success-color);
      }
      .error-toast {
        --paper-toast-background-color: var(--error-bg-color);
        --paper-toast-color: var(--error-color);
        background-color: var(--error-bg-color);
        color: var(--error-color);
      }
      .info-toast {
        --paper-toast-background-color: var(--info-bg-color);
        --paper-toast-color: var(--info-color);
        background-color: var(--info-bg-color);
        color: var(--info-color);
      }
      .warning-toast {
        --paper-toast-background-color: var(--warning-bg-color);
        --paper-toast-color: var(--warning-color);
        background-color: var(--warning-bg-color);
        color: var(--warning-color);
      }
    </style>
    <paper-toast id="successToast" class="success-toast"></paper-toast>
    <paper-toast id="infoToast"    class="info-toast"></paper-toast>
    <paper-toast id="warningToast" class="warning-toast"></paper-toast>
    <paper-toast id="errorToast"   class="error-toast"></paper-toast>
    <paper-toast id="defaultToast" class="default-toast"></paper-toast>
  </template>
  <script>
    Polymer({
      is: 'basic-toast',
      show: function(type, text, duration, properties) {
        text = text || ucFirst(type);
        var toast;
        switch (type) {
          case 'success': toast = this.$.successToast; break;
          case 'info':    toast = this.$.infoToast;    break;
          case 'warning': toast = this.$.warningToast; break;
          case 'error':   toast = this.$.errorToast;   break;
          default:        toast = this.$.defaultToast; break;
        }
        toast.show(this._makeProperties(text, duration, properties));
      },
      _makeProperties: function(text, duration, properties) {
        duration = duration || (duration === 0 ? 0 : 3000);
        properties = properties || {};
        properties.text = text;
        properties.duration = duration;
        return properties;
      }
    });
  </script>
</dom-module>
