<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="/bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="/bower_components/neon-animation/neon-animations.html">

<!-- <link rel="import" href="../pages/posts/post-list.html">
<link rel="import" href="request-list.html">
<link rel="import" href="user-page/user-page.html">
<link rel="import" href="post-page/post-page.html">
<link rel="import" href="offer-page/offer-page.html">
<link rel="import" href="new-post.html">
<link rel="import" href="admin-page.html">
<link rel="import" href="agreement-page/agreement-page.html">
<link rel="import" href="actionables/actions-page.html">
<link rel="import" href="checkout-page.html">
<link rel="import" href="post-map.html"> -->

<dom-module id="main-pages">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <neon-animated-pages role="main" selected="[[page]]" attr-for-selected="name">

      <neon-animatable name="posts" entry-animation="slide-from-left-animation" exit-animation="slide-left-animation">
        <posts-page auth="[[auth]]" route="[[subroute]]"></posts-page>
      </neon-animatable>

      <neon-animatable name="new" entry-animation="scale-up-animation" exit-animation="scale-down-animation">
        <new-post-page auth="[[auth]]"></new-post-page>
      </neon-animatable>
      <neon-animatable name="agreement" entry-animation="scale-up-animation" exit-animation="scale-down-animation">
        <agreement-page auth="[[auth]]" route="[[subroute]]"></agreement-page>
      </neon-animatable>

      <neon-animatable name="job" entry-animation="scale-up-animation" exit-animation="scale-down-animation">
        <post-page auth="[[auth]]" route="[[subroute]]"></post-page>
      </neon-animatable>
      <neon-animatable name="request" entry-animation="scale-up-animation" exit-animation="scale-down-animation">
        <post-page auth="[[auth]]" route="[[subroute]]" request></post-page>
      </neon-animatable>

      <neon-animatable name="user" entry-animation="scale-up-animation" exit-animation="scale-down-animation">
        <user-page auth="[[auth]]" route="[[subroute]]"></user-page>
      </neon-animatable>
      <neon-animatable name="admin" entry-animation="scale-up-animation" exit-animation="scale-down-animation">
        <admin-page auth="[[auth]]"></admin-page>
      </neon-animatable>

      <neon-animatable name="login">
        <login-register-page auth="[[auth]]" type="login"></login-register-page>
      </neon-animatable>
      <neon-animatable name="register">
        <login-register-page auth="[[auth]]" type="register"></login-register-page>
      </neon-animatable>

      <neon-animatable name="feedback" entry-animation="scale-up-animation" exit-animation="scale-down-animation">
        <feedback-page auth="[[auth]]"></feedback-page>
      </neon-animatable>
    </neon-animated-pages>
  </template>

  <script>
    Polymer({
      is: 'main-pages',
      properties: {
        auth: Object,
        page: {
          type: String,
          observer: '_pageChanged'
        },
        subroute: Object
      },
      observers: [
        '_routePageChanged(routeData.page)'
      ],

      
    });
  </script>
</dom-module>
