<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<link rel="import" href="/src/header.html">
<link rel="import" href="inputs/uname-input.html">

<dom-module id="set-username-dialog">
  <template>
    <style include="app-styles">
      :host {
        display: block;
      }
      paper-dialog {
        padding: 8px;
        font-size: small;
      }
    </style>

    <paper-dialog id="dialog" modal class="layout vertical">
      <div>Thank you for logging in using [[provider]].</div>
      <div>Please select a username to use as your identity.</div>
      <div class="layout horizontal center">
        <uname-input id="unameInput"></uname-input>
        <!--<paper-icon-button icon="check"-->
                   <!--on-tap="_checkUsername"></paper-icon-button>-->
      </div>
      <div>[[availableResult]]</div>
      <paper-button class="small primary-button self-center"
              on-tap="buttonTapped">
        [[toggleString(usernameAvailable, 'Set Username', 'Check Availability')]]</paper-button>
    </paper-dialog>
  </template>

  <script>
    Polymer({
      is: 'set-username-dialog',
      properties: {
        usernameAvailable: {
          type: Boolean,
          value: false,
          readOnly: true
        }
      },
      behaviors: [
        DjBehaviors.MainBehavior
      ],

      show: function(uid, provider, onUsernameChosen) {
        this.uid = uid;
        this.provider = provider;
        this.onUsernameChosen = onUsernameChosen;
        this.$.dialog.open();
      },

      _checkUsername: function() {
        if (this.$.unameInput.validate()) {
          var uname = this.$.unameInput.value;
          console.log('checking for ' + uname);
          db.ref('/usernames/' + uname.toLowerCase()).once('value').then(function(snap) {
            if (snap && !isEmpty(snap.val())) {
              this.availableResult = uname + ' is unavailable.';
            } else {
              this.username = uname;
              this.availableResult = uname + ' is available!';
              this._setUsernameAvailable(true);
            }
          }.bind(this));
        }
      },
      _saveUsername: function() {
        this.onUsernameChosen(this.username);
        this.$.dialog.close();
//                db.users.setUsername(this.uid, this.username, function() {
//                    showInfoToast('Welcome ' + this.username + '!');
//                }, showServerErrorToast);
//                showConfirmDialog('', 'Set username to ' + this.username + '? This cannot be undone.', '',
//                        'Save', 'Cancel', function(confirmed) {
//                            if (confirmed) {
//                                db.users.setUsername(this.auth, this.username, function() {
//                                    showSuccessToast('Username set.');
//                                }, showServerErrorToast);
//                            }
//                        }.bind(this));
      },
      buttonTapped: function() {
        if (this.usernameAvailable) {
          this._saveUsername();
        } else {
          this._checkUsername();
        }
      }
    });
  </script>
</dom-module>
