<link rel="import" href="/bower_components/polymer/polymer.html">

<!--
  Observes changes to a value and stores them in an array.
-->
<dom-module id="value-history">
  <template>
  </template>

  <script>
    Polymer({
      is: 'value-history',
      properties: {
        value: {
          type: Object,
          observer: '_valueChanged'
        },
        history: {
          type: Array,
          notify: true
        },
        limit: {
          type: Number,
          value: 0
        }
      },
      _valueChanged: function(value) {
        this.history = this.history || [];
        this.push('history', value);
        if (this.limit > 0 && this.history.length > this.limit) {
          this.shift('history');
        }
      }
    });
  </script>
</dom-module>
