<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../header.html">

<dom-module id="confirm-dialog">
  <template>
    <style include="app-styles">
      :host {
        display: block;
      }
      .buttons {
        margin-top: 16px;
      }
    </style>
    <paper-dialog id="dialog"
            modal$="[[modal]]"
            with-backdrop
            on-iron-overlay-opened="_onOpened"
            on-iron-overlay-closed="_onClosed">
      <div class="font-title">[[header]]</div>
      <!-- <paper-dialog-scrollable> -->
        <div class="font-default2">[[content]]</div>
        <slot></slot>
      <!-- </paper-dialog-scrollable> -->
      <div class="buttons">
        <paper-button dialog-dismiss>
          [[cancel]]
        </paper-button>
        <paper-button disabled$="[[disabled]]" dialog-confirm autofocus>
          [[confirm]]
        </paper-button>
      </div>
    </paper-dialog>
  </template>

  <script>
  class ConfirmDialog extends Polymer.Element {

    static get is() { return 'confirm-dialog'; }

    static get properties() {
      return {
        disabled: {
          type: Boolean,
          value: true,
          readOnly: true
        },
        header: String,
        content: String,
        confirm: {
          type: String,
          value: 'Confirm'
        },
        cancel: {
          type: String,
          value: 'Cancel'
        },
        modal: {
          type: Boolean,
          value: false
        }
      };
    }

    static get observers() {
      return [

      ];
    }
    show(header, content, confirm, cancel, onClosed) {
      this.header = header;
      this.content = content;
      this.confirm = confirm;
      this.cancel = cancel;
      this.onClosed = onClosed;
      this.$.dialog.open();
    }
    _onOpened(e) {
      this._setDisabled(true);
      setTimeout(function() { this._setDisabled(false); }.bind(this), 1000);
    }
    _onClosed(e) {
      this.onClosed(e.detail.confirmed || false);
    }
  }

  window.customElements.define(ConfirmDialog.is, ConfirmDialog);
  </script>
</dom-module>
