<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/src/header.html">

<dom-module id="set-username-dialog">
  <template>
    <style include="app-styles">
      :host {
        display: block;
      }
    </style>

    <paper-dialog id="dialog" modal class="layout vertical">
      <div class="font-title">Choose a username.</div>
      <div>You have authenticated using [[provider]], but do not yet have a username.</div>
      <paper-input
        id="unameInput"
        class="layout self-center"
        minlength="3"
        maxlength="16"
        label=""
        value="{{uname}}"
        no-label-float
        required
        autofocus
        auto-validate>
      </paper-input>

      <div class="layout self-center">[[availableResult]]</div>
      <paper-button class="small primary-button self-center" on-tap="_buttonTapped">
        [[toggleString(usernameAvailable, 'Set Username', 'Check Availability')]]
      </paper-button>
    </paper-dialog>
  </template>

  <script>
    Polymer({
      is: 'set-username-dialog',
      properties: {
        usernameAvailable: {
          type: Boolean,
          value: false,
          readOnly: true
        },
        uname: {
          type: String,
          observer: '_unameChanged'
        }
      },

      // TODO behavior
      toggleString: function(condition, ifTrue, ifFalse) {
        return condition ? ifTrue : ifFalse;
      },

      show: function(uid, provider, onUsernameChosen) {
        this.uid = uid;
        this.provider = provider;
        this.onUsernameChosen = onUsernameChosen;
        this.$.dialog.open();
      },

      _unameChanged: function(uname, old) {
        this.usernameAvailable = false;
        this.availableResult = '';
      },

      _checkUsername: function() {
        if (this.$.unameInput.validate()) {
          var uname = this.$.unameInput.value;
          console.log('checking for ' + uname);
          db.ref('/usernames/' + uname.toLowerCase()).once('value').then(function(snap) {
            if (snap && !isEmpty(snap.val())) {
              this.availableResult = uname + ' is unavailable.';
            } else {
              this.username = uname;
              this.availableResult = uname + ' is available!';
              this._setUsernameAvailable(true);
            }
          }.bind(this));
        }
      },
      _saveUsername: function() {
        this.onUsernameChosen(this.username);
        this.$.dialog.close();
      },
      _buttonTapped: function() {
        if (this.usernameAvailable) {
          this._saveUsername();
        } else {
          this._checkUsername();
        }
      }
    });
  </script>
</dom-module>
